body {
    color: #000;
    background-color: #fac960;
    font-family: Roboto, san-serif;
    font-size: 20px;
    line-height: 30px;
}

h1 {
    color: #8a6d2f;
    letter-spacing: 0;
    text-shadow: none;
    margin: 10px 0;
    font-size: 44px;
    font-style: normal;
    font-weight: 300;
    line-height: 54px;
}

h2 {
    color: #8a6d2f;
    text-shadow: none;
    margin: 0 0 27px;
    font-size: 38px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
    margin-bottom: 16px;
}

.navbar {
    background-color: #f9db70;
    color: #8a6d2f;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.app-name {
    font-size: 30px;
    margin: 0;
    color: #8a6d2f;
}

.start-button {
    background-color: #007BFF;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 14px;
}

.start-button:hover {
    background-color: #0056b3;
}

.container {
    text-align: center;
}

.section {
    text-align: center;
    padding-top: 81px;
    padding-bottom: 81px;
}

.slogan {
    color: #8a6d2f;
    letter-spacing: 0;
    text-shadow: none;
    margin: 10px 0;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 54px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section.slogan {
    text-align: center;
    background-color: #fac960;
    padding-top: 180px;
    padding-bottom: 220px;
}

.button {
    width: 30%;
    height: 54px;
    margin: 0 auto;
    color: #fff;
    background-color: #3498db;
    border-top-right-radius: 2px;
    padding: 4px 29px;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    transition: background-color .3s;
    display: block;
}

.button:hover {
    background-color: #2980b9;
}

.heading-left {
    background-color: #f5f7fa;
    border-bottom: 1px solid #e4ebf3;
    padding: 80px 30px;
    position: relative;
}

.wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.split-left {
    max-width: 40%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.split-right {
    max-width: 60%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.about {
    color: rgba(0, 0, 0, .4);
    letter-spacing: 0;
    text-shadow: none;
    margin-top: 0;
    margin_bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 23px;
    font-weight: 300;
    line-height: 30px;
}

.feature-section {
    background-color: #f5f7fa;
    border-bottom: 1px solid #e4ebf3;
    padding: 80px 30px;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.feature-item {
    flex: 0 0 50%;
    margin-bottom: 20px;
    text-align: center;
}

.feature-icon {
    font-size: 36px;
    margin-bottom: 10px;
}

.feature-text {
    font-weight: bold;
    font-size: 18px;
}

.icon-customized::before {
    content: "🗺️";
}

.icon-real-time::before {
    content: "⏰";
}

.icon-recommendations::before {
    content: "🌟";
}

.icon-weather::before {
    content: "🌦️";
}

.icon-events::before {
    content: "🎉";
}

.icon-booking::before {
    content: "📅";
}

.plan-title {
    background-color: #f9db70;
    color: #8a6d2f;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.title {
    color: #8a6d2f;
    text-shadow: none;
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.plan-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 100px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkbox-container {
    column-count: 3;
    column-gap: 20px;
    text-align: left;
    padding: 20px;
}

.checkbox-item {
    margin-right: 20px;
    display: block;
    margin-bottom: 10px;
}

.button {
    background-color: #ffab40;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ff902b; /* Change the hover color */
}

.activities-button {
    background-color: #ffab40;
    color: white;
    border: none;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.activities-button:hover {
    background-color: #ff902b;
}

.plan-button {
    background-color: #ff5722;
}

.plan-button:hover {
    background-color: #e64a19;
}